img{
    min-width: 104%;
    margin-left: -2%;
    margin-right: -4%;
    margin-top: -2%;
    position: absolute;
    z-index: -1;
    background-color: black;
    max-height: 70%;
    top: 93px;
    filter: brightness(60%) ;
}
.tusharsingla002{
    background-color: blue;
    margin-right: 80%;
    position: absolute;
    top: 1%;
    left: 16%;
}
.myblog{
    top: -14px;
    left: 1%;
    position: relative;

}
h8{
    margin-left: 8%;
    position: absolute;
    top: 17%;
    color: white;
    font-family: cursive;
    font-style: oblique;
    font-size: 20px;
}
.content{
  
    text-align: center;
    background-color: white;
    border: solid 2px;
    margin-top: 246px;
    margin-left: 10%;
    margin-right: 10%;

}
